*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}
p {
  color: #8C9A9D;
  margin: 0;
}
h2 {
  margin-left: 20px;
  color: white;
}
h3 {
  color: #4B5658;
}
h5{
  color: white;
  margin-right: 10px;
  float: right;
}

.main-display {
  margin-left: 55px;
}
.beer {
  float: left;
  margin-left: 20px;
  margin-top: 300px;
  margin-right: 15px;
}

#header {
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px;
  box-shadow: 0 4px 6px -6px #222;
  font-family: 'Pacifico', cursive;
}

#country-icon {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

#background {
  width: 1600px;
  height: 900px;
  margin: auto;
  background-image: url('../img/ocean.jpg');
}

#beer-info {
  padding: 20px;
}
