*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  /*font-family: 'Open Sans', sans-serif;*/
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
p {
  color: #A98D40;
  margin: 0;
}

p:last-child {
color: #A37A74
}

h1 {
  margin-left: 20px;
  color: white;
}

h2 {
  float: right;
  margin-right: 20px;
  color: white;

}

h3 {
  color: #2F2C6B;
}

#header {
  width: 1600px
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px;
  box-shadow: 0 4px 6px -6px #222;
  font-family: 'Pacifico', cursive;
}

#header2 p {
  /*text-align: center;*/
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  color: white;
  margin-left: 50px;
}

#country-icon {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

#background {
  width: 1200px;
  height: 900px;
  /*margin: auto;*/
  background-image: url('../img/ocean.jpg');
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#background2 {
  width: 1200px;
  height: 500px;
  /*margin: auto;*/
  background-image: url('../img/ocean2.jpg');
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#table {
  width: 200px;
  float: left;
  margin-left: 50px;
  margin-top: 50px;
}

table, td {
  border: 1px solid;
  border-color: #2F2C6B;
  background-color: #F4E003;
}

#beer-info {
  float: right;
  padding: 20px;
  max-width: 400px;
}

.beer {
  position: absolute;
  top: 17%;
  left: 10%;
}

.history {
  max-width: 450px;
}

.history h3 {
  color: #F4E003;
}

.history p {
  color: white;
}

.description {
  display: none;
  border: 2px solid;
  border-color: #2F2C6B;
  padding: 20px;
  background-color: #F4E003;
  margin-top: 10px;
  margin-left: 50px;
  max-width: 500px;
  float: left;
}

div div:hover > .description {
  display: block;
  position: relative;
}

.thumbnail {
  width:200px;
}

.gallery {
  width: 500px;
  float: right;
  /*align-content: center;*/
}

.insta {
  left: 50%;
  margin-right: -50%;
  color: white;
}

.six-pack img {
  float: left;
  width: 250px;
  height: 250px;
}
